.App{
    width: 100vw;
    height: 100vh;
  }
  
  * {
    margin: 0%;
    padding: 0%;
  }
  
  .Sidebar{
    height: 50%;
    width: 20%;
    background-color: #343541;
    border-radius: 10px;
    margin-left: 10px;
    
  }
  
  .SidebarList{
     height: auto;
     padding-top: 10px;
     width: 100%;
  }
  .SidebarList .Row{
     width: 100%;
     height: 50px;
     list-style-type: none;
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     color: whitesmoke;
     margin: 0%
  }
  
  .SidebarList .Row:hover{
    cursor: pointer;
    background-color: dimgray;
    width: 90%;
    transition: all 1s ease;
    border-radius: 5px;
  }
  
  .Row #icon{
    flex: 30%;
    display: grid;
    place-items: center;
  }
  .Row #tital{
    flex: 70%;
    
  }
  
  #Close{
    padding-right: 20px;
    color: white;
    list-style-type: none;
    
  }
  
  .closebtn{
    font-size: 20px;
    width: fit-content;
    float: right;
  }

  .closebtn:hover{
    cursor: pointer;
    background-color: dimgray;
    transition: all 1s ease;
    border-radius: 30%;
  }